*,
html,
body {
  margin: 0;
  padding: 0;
  min-width: 0;
}

body {
  height: 100px;
}

/*Header menu*/
header {
  height: 90px;
  line-height: 200px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: lightgray;
  align-items: flex-start;
}

header .container {
  margin-top: -2%;
  margin-bottom: 25%;
}
/*Show of menu when scrolling down*/
.secondary {
  background-color: rgb(231, 225, 225);
  box-shadow: 0px 0px 20px 0px;
  transition: all 0.05s ease-in;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}
header nav {
  float: left;
}

.logo img {
  float: right;
  margin-top: 4px;
  font-size: x-large;
  width: 15%;
  height: 25%;
}

.img {
  width: 20%;
  height: 20%;
}

header nav ul li a {
  padding-left: 40px;
  font-weight: bold;
  font-size: medium;
  transition: all 0.5s ease-in-out;
  color: rgb(23, 23, 24);
}

header nav ul li a:hover {
  text-decoration: none;
  color: tomato;
}

.container {
  /* margin: 17px; */
  padding: 10px;
  min-width: 100%;
}

.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/webdesign.jpg);
  background-size: 100% 100%;
}

.img {
  width: 50%;
  height: 90%;
}

.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/cv3.jpg);
  background-size: 100% 100%;
}

.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/warcraft-movie-logo_1536363021.jpg);
  background-size: 100% 100%;
}

.img4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/web\ application.jpg);
  background-size: 100% 100%;
}
/*Slider header*/
.slider,
.slider ul,
.slider ul li {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  color: white;
  text-align: center;
}

.slider h2 {
  font-weight: bold;
  margin-top: 250px;
}
/*Slider header words in orange*/
.slider span {
  text-emphasis-color: black;
  color: orange;
}

.slider a {
  padding: 10px 30px;
}

.slider a.btn-half {
  color: black;
  background-color: orange;
  transition: 0.9s ease-in;
}
.slider a.btn-half:hover {
  background-color: greenyellow;
}

.into-area {
  position: relative;
  padding: 9px 0px;
  text-align: center;
}

.sub-heading:before {
  content: "";
  position: absolute;

  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1px;
  z-index: 1;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.teams-area .sub-heading:before {
  content: "";
  position: absolute;

  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1px;
  z-index: 1;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.teams-area > .row {
  margin-right: auto;
  margin-left: auto;
}
.sub-heading:hover:before {
  width: 24%;
  margin-left: 10px;
}

.into-area .sub-heading:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 1px;
  background-color: skyblue;
}

.contact-area .sub-heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 1px;
  background-color: skyblue;
}

.service-area .sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 1px;
  background-color: skyblue;
}

.teams-area .sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 1px;
  background-color: skyblue;
}

.service-area .col-sm-12 {
  /* padding-bottom: 4%; */

  position: relative;
}

.service-area .sub-heading {
  /* padding-bottom: 4%; */
  font-style: italic;
  font: message-box;
  margin-top: 1%;
}
/**********Service text*************/
.service-area .text-center {
  /* padding-bottom: 4%; */
  margin-top: 6.5%;
}

/*Teams Title name*/
.service-area .col_sm-12 {
  font-style: italic;
}

.service-area .sub-heading:after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 1px;
}
/*Data Surgery Header*/
.col_sm-12 {
  margin-left: 03em;
}
/*Data Surgery Header mission slogan*/
.sub-heading p {
  display: inline-block;
  position: relative;
  line-height: 29px;
  letter-spacing: 0.015em;
  padding-top: -1%;
}

/*******************************************************************/
.intro-block {
  position: relative;
  background-color: lightgray;
  margin: 50px 0px 0px;
  text-align: center;
  padding: 70px 25px 40px;
  font-size: large;
}

.intro-block:hover,
.intro-block.active {
  background-color: red;
}

.intro-block:hover {
  transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}
.intro-block,
.intro-icon {
  position: absolute;
  top: -31px;
  left: 20%;
  margin-left: -31px;
}

.intro-block .fa {
  width: 63px;
  height: 63px;
  font: 100px;
  color: white;
  line-height: 5;
  background-color: skyblue;
  border-radius: 150%;
  box-shadow: 0px 0px 20px #cceef9;
}

.intro-block:hover .fa,
.intro-block.active .fa {
  background-color: white;
  color: deepskyblue;
  box-shadow: 0px 0px 10px #cceef9;
}

.intro-block h3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.intro-block:hover h3,
.intro-block:hover p {
  color: black;
}

.intro-block p {
  color: black;
}

.col-sm-4 i {
  font-size: 200%;
}

.teams-area .sub-heading {
  font-style: italic;
  font: message-box;
}
/*Teams Title name*/
.teams-area .col_sm-12 {
  font-style: italic;
}

.into-area .col_sm-12 {
  font-style: italic;
}

.into-area .sub-heading {
  font-style: italic;
  font: message-box;
}

.teams-area,
.profile-image-wrapper,
.profile-content-wrapper h1 {
  padding-left: -600%;
}

.teams-area {
  position: relative;

  margin: 0px 0px 10px;
  text-align: center;
  padding: 75px 0px 0px;
}

.teams-area .col_sm-12 {
  margin-top: 2%;
}

.teams-area .col-sm-6 {
  margin-left: 5%;
}

.teams-area .sub-heading {
  margin-top: 1%;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 50%;
  height: 20%;
}

.two-column-wrapper2 {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper2 img {
  width: 50%;
  height: 20%;
}

.two-column-wrapper3 {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper3 img {
  width: 50%;
  height: 20%;
}

.teams-area body {
  height: 1000px;
}

.profile-content-wrapper h1 {
  color: deepskyblue;
}

.contact-area {
  position: relative;

  margin: 0px 0px 10px;
  text-align: center;
  padding: 2%;
}
.contact-area .sub-heading {
  margin-top: 5%;
}

.contact-area h2 {
  margin-top: 15%;
}

.contact-block h3 {
  margin-left: -83%;
  font: caption;
}

.contact_form {
  width: 50%;
}
.form-group {
  padding: 2%;
}

.divider {
  border-right: 1px solid #d9d9d9;
}

.contact-area h4 {
  color: #3a3a3a;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-area .form-control,
.contact-area textarea {
  font-family: "Roboto", sans-serif;
  background-color: #f8fdff;
  border: 1px solid #a5d3eb;
  padding: 10px 12px;
  color: #bdbdbd;
  height: 45px;
  font-weight: 400;
  border-radius: 0;
}

.contact-area .form-group {
  margin-bottom: 3px;
}

.contact-area textarea {
  min-height: 115px;
}

.contact-area .default-btn {
  padding: 10px;
}
/*Team tab*/
/*.teams-area {
    padding: 50px 0px;
}*/

.team-man {
  position: absolute;
  left: 45%;
  margin-left: -100px;
  top: 9%;
  overflow: hidden;
  min-height: 100px;
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 5px solid deepskyblue;
  border-radius: 50%;
  margin-left: -30px;
}

.team-man img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 50%;
  justify-content: center;
}
.team-block {
  padding: 20px;
  position: relative;
}
.float-team {
  display: list-item;

  justify-content: space-between;
  margin-bottom: 5%;
}

.team-block h3 {
  color: deepskyblue;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 140px;
  margin-bottom: 5px;
}

.team-block span {
  color: gray;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 00.015em;
}
/*teams profiles*/
.team-block p {
  color: black;
  font-size: 14px;
  padding: 245 px 15px;
  line-height: 24px;
  text-align: center;
  position: relative;
}
/*teams profiles*/
.fumani-block_v2 .team-description {
  background-color: lightgray;
  padding: 30px;
  border-radius: 20px;

  text-align: justify;
}
.team-description {
  background-color: lightgray;
  padding: 30px;
  border-radius: 20px;
  height: 810px;
}
/*teams profiles*/
.team-social-network {
  text-align: center;
  padding-bottom: 13px;
}
/*teams profiles*/
.team-social-network a {
  margin: 0 6px;
}
/*teams profiles-Linkden sign*/
.team-social-network i {
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  color: deepskyblue;
  border-radius: 50%;
  border: 3px solid deepskyblue;
  padding-top: 10px;
}
/*Option services on home page**********************************/
.team-social-network_tot i {
  height: 90px;
  width: 40px;
  background-color: black;
  text-align: center;
  color: orangered;
  border-radius: 50%;
  border: 3px solid orange;
  padding-top: -1000px;
}

.intro-block:hover .team-social-network_tot i {
  background-color: lightgreen;
  border: 3px black;
  border-radius: 50%;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.team-block:hover .team-description {
  background-color: deepskyblue;
  color: black;
  transition: 0.4s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.team-block .team-title h3,
.team-block .team-title span {
  color: black;
  transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

.team-block:hover .team-description p {
  color: black;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

/*teams profiles-Linkden sign*/
.team-block:hover .team-social-network i {
  border-color: greenyellow;
  background: deepskyblue;
  color: white;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

.features {
  padding-right: 10%;
  margin-top: 15px;
  color: black;
  font-size: 14px;

  position: relative;
}

/*---------------CV Design-----------------------*/

.features-cv {
  padding: 50px 0px;
}

.features-cv .features-text {
  padding-top: -10px;
  padding-left: 30%;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

.features-cv .service-icoscrip {
  padding-left: 60%;

  padding-top: -10px;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}
.features-cv .col-sm-6 h3 {
  font-size: xx-large;
  color: deepskyblue;
  font-style: oblique;
}
/*--------------- Tailor made Web Design-----------------------*/

.features-web {
  padding: 40px 0px;
}
.features-web .features-web-text {
  padding-left: 7%;
  margin-top: 2%;

  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

.features-web .service-icoscrip {
  margin-top: -1%;
  padding-left: 40%;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}
.features-web .col-sm-6 h3 {
  font-size: xx-large;
  color: deepskyblue;
  font-style: oblique;
}

/*---------------LOGO DESIGNS-----------------------*/
.features-Logo .features-logo-text {
  margin-top: 10%;
  padding-left: 30%;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  text-underline-position: unset;
}

.features-Logo .service-icoscrip {
  padding-left: 60%;
  margin-top: 20%;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}
.features-Logo .col-sm-6 h3 {
  font-size: xx-large;
  color: deepskyblue;
  font-style: oblique;
}

/*---------------WEB IMPUTS AND OUTPUTS DESGINS-----------------------*/
.features-webApp .features-webApp-text {
  padding-left: 7%;
  margin-top: 2%;
  margin-left: 45%;
}

.features-webApp .service-icoscrip {
  margin-top: 5%;
  padding-left: 75%;
  transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

.features-webApp-text h3 {
  font-size: xx-large;
  color: deepskyblue;
  font-style: oblique;
}

.container_wrap {
  background-color: rgb(37, 33, 33);
  color: honeydew;
}

.container_wrap {
  margin-top: 10%;
}

.container_wrap2 {
  background-color: rgb(37, 33, 33);
  color: honeydew;
}

.container_wrap2 {
  margin-top: 10%;
}

.fumani-block_v2 h3 {
  text-align: center;
  padding-top: 10%;
}
/*this is for the index page..services..creating space at the bottom*/
.row {
  padding-bottom: 5%;
}

.teams-area .flex_column {
  margin-top: 1%;
  margin-bottom: 1%;
}

.footer-main-div {
  position: relative;
  /* height: 220px; */
  font-family: "Open Sans", sans-serif;
  background: #272727;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.footer-social-icons {
  width: 100%;
  height: auto;
  margin: 0;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background-color: white;
}

.footer-social-icons ul li:hover {
  background-color: greenyellow;
}

.footer-social-icons ul li a {
  font-size: 25px;
  display: block;
}

.footer-social-icons ul li a i {
  line-height: 50px;
}

.footer-menu-one {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}

.footer-menu-one ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu-one ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-one ul li {
  display: inline-block;
  margin: 0px 20px;
}

.footer-menu-one ul li a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: ghostwhite;
}

.footer-bottom {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  background-color: gray;
  text-align: center;
}
.footer-bottom > p {
  margin-top: 3px;
}

/*---------------Service Page-----------------------*/

img {
  width: 50%;
  height: auto;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;

  margin-bottom: 2rem;

  border: white;
  padding: 0%;
  text-align: center;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background-color: orange;

  color: black;
  margin-top: 2rem;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  font-size: xx-large;
}

.btn:hover {
  color: #272727;
  opacity: 0.8;
  transition: ease-in-out;
  background-color: greenyellow;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.container-box {
  padding-top: 30px;
  max-width: 1100ox;

  overflow: auto;
  padding: 30 px 2rem;
}

.contact-address span {
  text-align: left;
  font-size: large;
}

.into-area .footer-main-div {
  margin-top: 10%;
}

.has-margin-right {
  margin-right: -20rem;
}

/*****Cleints Area******/

.clients-block .team-title .img {
  align-items: center;
  text-align: center;
}

.clients-block .team-description {
  background-color: lightgray;
  padding: 30px;
  border-radius: 20px;
  height: 350px;
}

.clients-block h3 {
  text-align: center;
  padding-top: 10%;
}

.clients-block:hover .team-description {
  background-color: rgb(255, 153, 0);
  color: black;
  transition: 0.4s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

/**New teams section***/

.team-section {
  overflow: hidden;
  text-align: center;
  padding: 60px;
  padding-top: 5%;
}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: black;
  font-size: 40px;
}

.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3499db;
  margin-bottom: 40px;
}

.team-section span {
  text-transform: uppercase;

  color: black;
  font-size: 20px;
}

.team-section p {
  color: black;
}

.team-section section {
  color: black;
  text-align: justify;
}

.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img {
  width: 100%;
  border: 4px solid rgb(0, 195, 255);
  border-radius: 40%;
}

.ps:hover a {
  border-color: greenyellow;
}

.ps a:hover > img {
  filter: none;
}

.team-section .a .img {
  height: 200%;
  color: #ea4c89;
}

.team-section img {
  width: 200px;
  height: auto;
}

.section {
  font-size: 600px;
  color: white;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section:target {
  height: auto;
  transition-duration: 5.6s;
}

.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
}
